@primary-blue: #046dd6;
@midnight-blue: #14133d;
@deep-blue: #263b72;
@lightning-blue: #cee8e8;
@pyschedelic-blue: #8ee0e0;
@peach-white: #fce6d3;
@pitch-black: #080811;
@transparent-grey: rgb(118, 126, 144);

@fonts: 'Roboto', 'Ostrich Sans', 'Oswald Sans', 'Helvetica';

/* Small devices (tablets, 768px and up) */
@small: ~'only screen and (min-width: 768px)';

/* Medium devices (desktops, 992px and up) */
@medium: ~'only screen and (min-width: 992px)';

/* Large devices (large desktops, 1200px and up) */
@large: ~'only screen and (min-width: 1200px)';
