<nav class="navbar jm-nav navbar-expand-md">
  <a class="navbar-brand jm-title"> John Marlett: Engineering Excellence </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <fa-icon class="navbar-toggler-icon" [icon]="faBars"></fa-icon>
  </button>
  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="ml-auto nav-item">
        <a routerLink="/home" class="jm-button"> Home </a>
      </li>
      <li class="ml-auto nav-item">
        <a routerLink="/simulations" class="jm-button"> Simulations </a>
      </li>
    </ul>
  </div>
</nav>
