<!--The content below is only a placeholder and can be replaced.-->
  <app-header></app-header>
  <app-hero-section (onPageDownClick)="handlePageDownClick()"></app-hero-section>
  <div #aboutSection></div><!--scroll to anchor -->
  <app-about-section></app-about-section>
  <!--<h2>Here are some links to help you start: </h2>
  <ul>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
    </li>
  </ul>-->
<app-gutter></app-gutter>
  <router-outlet></router-outlet>

