
html, body, div, span, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, label, legend, main, p, blockquote, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  display: block; }

@media (max-width: 500px) {
  body { font-size: 85%; }
}

@media (max-width: 880px) {
  body { font-size: 90%; }
}

@media (max-width: 1200px) {
  body { font-size: 100%; }
}

body {
  background-color: @pitch-black !important;
}

@primary-blue: #046DD6;
@midnight-blue: #14133D;
@lightning-blue: #CEE8E8;
@pyschedelic-blue: #8EE0E0;
@peach-white: #FCE6D3;
@pitch-black:  #080811;
@transparent-grey: rgba(179, 183, 193, 0.65);

@fonts:'Roboto', 'Ostrich Sans', 'Oswald Sans', 'Helvetica';

.jm-button {
  //width: 5em;
  background-color: transparent;
  border-color: @primary-blue !important;
  color: @peach-white !important;
  border: solid;
  border-width: 0.085em;
  border-radius: 5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.55em;
  padding-right: 0.55em;
  margin: 0.5em;
  font-size: 1em;
  line-height:1em;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  cursor: pointer;
  &:hover{
    border-color: @peach-white !important;
  }
}


button{

  &:focus{
    outline: none;
  }
}
